<!--------------------------------------------   HEADER  --------------------------------------------------->
<app-nav-bar [title]="openMode==='EDIT'?'Editando':'Nueva Categoria'" [back]="true">

</app-nav-bar>
<!--------------------------------------------   FORM  --------------------------------------------------->


<form [formGroup]="categoryForm"  novalidate>
  <div class="row">
    <div class="input-field col s6">
      <input id="name" type="text" formControlName="name"
             [class.valid]="controlValid('name', categoryForm)"
             [class.invalid]="controlInvalid('name', categoryForm)">
      <label for="name" data-error="Incorrecto">Name*</label>

    </div>
    <!--------------------------------------------   BUTTONS FORM  --------------------------------------------------->


    <div class="col s12">

      <mbr-error-card [(error)]=error [errorMessage]=errorMessage></mbr-error-card>

      <button  (click)="onSubmit()"
              [disabled]="categoryForm.invalid" class="btn btn-success">Save
      </button>
      &nbsp;

      <button (click)="revert(categoryForm)"
              [disabled]="categoryForm.pristine" class="btn btn-danger">Revert
      </button>
    </div>

  </div>
</form>

<!--------------------------------------------   TOASTS  --------------------------------------------------->

<a (click)="triggerToast()" materialize [materializeParams]="['Categoria creada',4000]"
   [materializeActions]="toastCreateActions"></a>
<a (click)="triggerToast()" materialize [materializeParams]="['Categoria actualizado',4000]"
   [materializeActions]="toastUpdateActions"></a>
